.right_btn_wrapper{
    position: absolute;    
    width: 100px;
    height: 100%;
    top: 0;
    right: 0;
    background: transparent;
    z-index: +10;
}
.right_btn_wrapper > button{

    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    width: 56px;
    height: 56px;
    border-radius: 50%;
    border: none;
    background: var(--clr-neutral-300);
    cursor: pointer;
    visibility: hidden;

}
.right_btn_wrapper:hover > button{
    visibility: visible;
}

.right_btn_wrapper > button > .icon{
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
}