.dropdown_btn{
    width: 100%;
    padding: var(--size-080) var(--size-310);
    background: transparent;
    border: 1px solid var(--clr-neutral-200);
    border-radius: var(--size-080);
    display:  flex;
    align-items: center;
    justify-content: space-between;
}