.about{
    min-height: 120px;
}

.about > .about_title{
    font-size: var(--fs-650);
    font-weight: var(--fw-semi-bold);
    color: var(--clr-neutral-700);
}
.about > .about_items {
    margin-top: var(--size-150);
}

.about > .about_items > .about_item{
    display: flex;
    flex-direction: column;
    padding-left: var(--size-800);
    position: relative;
    /* gap: var(--size-090); */
}
.about > .about_items > .about_item:not(:first-child){
    margin-top: 16px;
}

.about > .about_items > .about_item > .decorative_plus_icon{
    position: absolute;
    left: 0;
    top: 4px;
    /* top: 50%; */
    /* transform: translateY(-50%); */
}

.about > .about_items > .about_item > .item_heading{
    font-size: var(--fs-600);
    font-weight: var(--fw-semi-bold);
    color: var(--clr-neutral-500);
}
.about > .about_items > .about_item > .item_details{
    font-size: var(--fs-500);
    font-weight: var(--fw-regular);
    color: var(--clr-neutral-700);
}