:root{
  --clr-primary-010:        hsl(18, 100%, 98%);
  --clr-primary-400:        hsl(29, 100%, 54%);
  --clr-primary-400-a_12:   hsla(29, 100%, 54%, 0.12);
  --clr-primary-400-a_30:   hsla(29, 100%, 54%, 0.3);
  --clr-primary-400-a_40:   hsla(29, 100%, 54%, 0.4);
  --clr-primary-400-a_50:   hsla(29, 100%, 54%, 0.5);
  --clr-primary-400-a_010:  hsla(29, 100%, 54%, 0.15);
  --clr-secondary-050:      hsl(240, 100%, 99%);
  --clr-secondary-100:      hsl(240, 100%, 95%);
  --clr-secondary-150:      hsl(216, 9%, 78%);
  --clr-secondary-200:      hsl(240, 90%, 80%);
  --clr-secondary-400:      hsl(234, 86%, 61%);

  --clr-tertiary-100-a_025: hsla(61, 53%, 79%, 0.25);
  --clr-neutral-000:        hsl(0, 0%, 100%);
  --clr-neutral-000_a_70:   hsla(0, 0%, 100%, 0.70);
  --clr-neutral-000_a_15:   hsla(0, 0%, 100%, 0.15);
  --clr-neutral-020:        hsl(0, 0%, 98%);
  --clr-neutral-025:        hsl(0, 0%, 97%);
  --clr-neutral-050:        hsl(0, 0%, 94%);
  --clr-neutral-050_a_50:   hsl(0, 0%, 94%, 0.2);
  --clr-neutral-070:        hsl(0, 0%, 85%);
  --clr-neutral-075:        hsl(0, 0%, 87%);
  --clr-neutral-100:        hsl(0, 0%, 88%);


  /* --clr-neutral-150:        hsl(0, 0%, 74%); */
  --clr-neutral-150:        hsl(0, 0%, 76%);
  --clr-neutral-200:        hsl(0, 0%, 74%);


  --clr-neutral-250:        hsl(0, 0%, 67%);
  --clr-neutral-300:        hsl(0, 0%, 64%);
  --clr-neutral-400:        hsl(0, 0%, 52%);
  --clr-neutral-500:        hsl(0, 0%, 40%);
  --clr-neutral-600:        hsl(0, 0%, 30%);
  --clr-neutral-620:        hsl(0, 0%, 28%);
  --clr-neutral-700:        hsl(0, 0%, 20%);
  --clr-neutral-800:        hsl(0, 0%, 10%);
  --clr-neutral-800-a_50:   hsla(0, 0%, 10.2%, 0.4);
  --clr-neutral-900:        hsl(0, 0%, 4%);
  --clr-neutral-1000-a_25:  hsla(0, 0%, 0%, 0.25);
  --clr-neutral-1000-a_60:  hsla(0, 0%, 0%, 0.6);

  --clr-green-100:  hsl(165, 100%, 93%);


  --ff-primary:'Montserrat', sans-serif;
  --ff-body: var(--ff-primary);
  --ff-heading: var(--ff-primary);

  --fw-regular: 400;
  --fw-regular-dark: 500;
  --fw-semi-bold: 600;
  --fw-bold: 700;

  --fs-050: 0.5rem;       /*  8px */
  --fs-075: 0.625rem;     /* 10px */
  --fs-100: 0.75rem;      /* 12px */
  --fs-200: 0.875rem;     /* 14px */
  --fs-300: 0.9375rem;    /* 15px */
  --fs-400: 1rem;         /* 16px */
  --fs-500: 1.125rem;     /* 18px */
  --fs-550: 1.25rem;      /* 20px */
  --fs-600: 1.375rem;     /* 22px */
  --fs-650: 1.5rem;       /* 24px */
  --fs-700: 1.75rem;      /* 28px */
  --fs-800: 1.875rem;     /* 30px */
  --fs-850: 2rem;         /* 32px */
  --fs-875: 2.125rem;     /* 34px */
  --fs-900: 2.375rem;     /* 38px */
  --fs-950: 2.5rem;       /* 40px */
  --fs-975: 2.875rem;       /* 46px */
  --fs-1000: 6rem;        /* 96px */

  --fs-body: var(--fs-400);
  --fs-primary-heading: var(--fs-900);
  --fs-secondary-heading: var(--fs-800);
  --fs-nav: var(--fs-200);
  --fs-button: var(--fs-400);

  --size-000:  0rem;       /*  0px */
  --size-001:  0.0625rem;  /*  1px */
  --size-002:  0.125rem;   /*  2px */
  --size-003:  0.1875rem;  /*  3px */
  --size-025:  0.25rem;    /*  4px */
  --size-060:  0.375rem;   /*  6px */
  --size-070:  0.4375rem;  /*  7px */
  --size-080:  0.5rem;     /*  8px */
  --size-090:  0.5625rem;  /*  9px */
  --size-100:  0.625rem;   /* 10px */
  --size-150:  0.75rem;    /* 12px */
  --size-200:  0.8125rem;  /* 13px */
  --size-250:  0.875rem;   /* 14px */
  --size-300:  0.9375rem;  /* 15px */
  --size-310:  1rem;       /* 16px */
  --size-325:  1.125rem;   /* 18px */
  --size-330:  1.188rem;   /* 19px */
  --size-335:  1.25rem;    /* 20px */
  --size-340:  1.375rem;   /* 22px */
  --size-350:  1.5rem;     /* 24px */
  --size-400:  1.688rem;   /* 27px */
  --size-425:  1.75rem;    /* 28px */
  --size-450:  1.875rem;   /* 30px */
  --size-500:  2rem;       /* 32px */
  --size-600:  2.125rem;   /* 34px */
  --size-625:  2.25rem;    /* 36px */
  --size-650:  2.375rem;   /* 38px */
  --size-700:  2.5rem;     /* 40px */
  --size-750:  2.875rem;   /* 46px */
  --size-800:  3rem;       /* 48px */
  --size-850:  3.125rem;   /* 50px */
  /* --size-850:  3.125rem;   50px */
  --size-875:  3.42rem;    /* 55px */
  --size-880:  3.5rem;    /* 56px */
  --size-900:  3.75rem;    /* 60px */
  --size-950:  4rem;       /* 64px */
  --size-1000: 4.5rem;     /* 72px */
  --size-1100: 5rem;       /* 80px */

 
  --box-width-300: 15.5rem; /* 248px */


  /* container variable  */
  --xl-contaner-width: 2560px;
  --l-contaner-width: 1920px;
  --md-contaner-width: 1600px;
  --sm-contaner-width: 1440px;
  --e-sm-contaner-width: 1280px;

  --max-width: var(--e-sm-contaner-width);
  --footer-container-width: var(--e-sm-contaner-width);

  --container-padding: 24px;
  --container-padding-sm: 16px;

  --hero-height: 430px;
}

/* // https://piccalil.li/blog/a-modern-css-reset */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
*{
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  /* font: ; */
}

ul>li{
  list-style: none;
  list-style-type: none;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  /* height: 100%; */
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture, 
svg {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}



/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
input[type="date"]:before {
  content: attr(placeholder) !important;
  color: #aaa;
  margin-right: 0.5em;
}
input[type="date"]:focus:before,
input[type="date"]:valid:before {
  content: "";
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none; /* Webkit browsers like Chrome and Safari */
  margin: 0; /* Remove margin */
}

select{
  -webkit-appearance: none;
}

a:visited {
  color: var(--clr-neutral-900);
}
/* common class */
.max-width-1230px{
  max-width: 1230px;
}
.max-width-1280{
  max-width: 1280px;
}
.max-width-1280px{
  max-width: 1280px;
}
.max-w-100{
  max-width: 100%;
}
.max-width-48px{

}
.max-width-1024px{
  max-width: 1024px;
}
.max-width-195{
  max-width: 195px;
}
.max-width-428px{
  max-width: 428px;
}
.max-width-300px{
  max-width: 300px;
}
/* .clr-secondary-150{
  color: var(clr-secondary-150);
} */
.clr-primary-400{
  color: var(--clr-primary-400);
}
.clr-neutral-000{
  color: var(--clr-neutral-000);
}
.clr-neutral-000-a-70{
  color: var(--clr-neutral-000_a_70);
}


.clr-neutral-200{
  color: var(--clr-neutral-200);
}
.clr-neutral-300{
  color: var(--clr-neutral-300);
}
.clr-neutral-400{
  color: var(--clr-neutral-400);
}
.clr-neutral-500{
  color: var(--clr-neutral-500);
}
.clr-neutral-600{ color: var(--clr-neutral-600)}
.clr-neutral-800{ color: var(--clr-neutral-800)}
/* clr-neutral-700 */
.clr-neutral-700{ color: var(--clr-neutral-700)}

.clr-neutral-620{ color: var(--clr-neutral-620)}
.clr-secondary-400{ color: var(--clr-secondary-400)}
/* 
.clr-secondary-400{
  color: var(--clr-secondary-400);
} */
.clr-green-100{
  color: var(--clr-green-100);
}
.bg-green-100{
  background: var(--clr-green-100);
}

.clr-red{
  color: #F15524;
}

/* background: var(--clr-neutral-000); */
/* right: 0; */
.bg-primary-400{    background: var(--clr-primary-400)}
.bg-primary-400_a_0_12{    background: var(--clr-primary-400-a_12)}
.bg-primary-a_50{   background: var(--clr-primary-400-a_50)}
.bg-secondary-050{  background: var(--clr-secondary-050)}

.bg-secondary-050_odd_child > :nth-child(odd) {  background: var(--clr-secondary-050)}

.bg-secondary-100{  background: var(--clr-secondary-100)}
.bg-secondary-400{  background: var(--clr-secondary-400)}

/* .odd-child-bg-secondary-400 > :nth-child(odd){  background: var(--clr-secondary-400)} */
.bg-neutral-000{  background: var(--clr-neutral-000);}
.bg-hover-neutral-050:hover{  background: var(--clr-neutral-050);}
.bg-neutral-1000-a_25 { background: var(--clr-neutral-1000-a_25)}
.bg-neutral-050_a_50 { background: var(--clr-neutral-800-a_50)}
.bg-transparent{ background: transparent}


.no-outline{
  outline: none;
}
.no-active-outline:active{
  outline: none;
}
.no-txt-select{
  user-select: none;
  -webkit-user-select: none; /* For Safari */
  -ms-user-select: none; /* For Internet Explorer/Edge */
}

.container{
  width: min(var(--max-width), 100% - var(--container-padding-sm)*2);
  margin-inline: auto;
}

.dashboard-container{
  min-height: calc(100vh - 80px) ;
}

.text-select-none{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.full-width-container{
  width: calc(100% - var(--container-padding-sm)*2);
  margin-inline: auto;
}
.footer-container{
  width: min(var(--footer-container-width), 100% - var(--container-padding-sm)*2);
  margin-inline: auto;
}

@media (min-width: 481px) {
  .container{
    /* width: 1232px; */
    width: min(var(--max-width), 100% - var(--container-padding)*2);
    margin-inline: auto;
  }
  .full-width-container{
    width: calc(100% - var(--container-padding)*2);
    margin-inline: auto;
  }
  .footer-container{
    width: min(var(--footer-container-width), 100% - var(--container-padding)*2);
    margin-inline: auto;
  }
}
.relative{
  position: relative;
}
.relative-horizontal-center{
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.relative-vertical-center{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.absolute{
  position: absolute;
}
.top-0{
  top: var(--size-000);
}
.buttom-0{
  bottom: 0;
}
.top-16px{
  top: 16px;
}
.top-negative-4px{
  top: -4px;
}
.top-negative-16px{
  top: -16px;
}
.top-negative-30px{
  top: -30px;
}
.top-82px{
  top: 82px;
}
.top-112px{
  top: 112px;
}
.top-24px{
  top: 24px;
}
.top-234{
  top: 234px;
}
.top-179px{
  top: 179px
}
.top-8px{
  top: 8px;
}
.top-32{ top: 32px }
.left-16px{ left: 16px;}
.left-32{ left: 32px }
.left-25{ left: 25px }
.top-50{
  top: 50%
}
.translateY-50{
  transform: translateY(-50%);
}
.translateX-50{
  transform: translateX(-50%);
}
.rotate-45deg{
  transform: rotate(45deg)
}
.top-50px{
  top: 50px
}
.top-57px{
  top: 57px;
}
.top-40px{
  top: 40px;
}

.left-224{ left: 224px }

.position-left-outside-24{
  right: calc(8px + 100%);
}
.right-0{ right: 0 }
.right-8px{ right: 8px }
.right-12px{ right: 12px }
.right-24px{ right: 24px }
.right-50px{ right: 50px }
.right-442{
  right: 442px;
}
.right-16{
  right: var(--size-310);
}

.right-16px{
  right: var(--size-310);
}

.sticky{
  /* position: -webkit-sticky; Safari */
  position: sticky;
  /* top: 0; */
}

@media (min-width: 640px) {
  .hero{
    /* min-height: var(--hero-height); */
    background: var(--clr-tertiary-100-a_025);
    /* background: url("/images/hero-background.jpg"); */
  }
  .display-md-block{
    display: block;
  }
}

.sidebar{
  width: 314px;
  height: 1769px;
}



.flex{
  display: flex;
}
.flex-wrap{
  flex-wrap: wrap;
}
.inline-flex{
  display: inline-flex;
}

.grid{
  display: grid;
}
.grid-col-1fr-auto{
  grid-template-columns: 1fr auto;
}
.grid-col-auto-1fr{
  grid-template-columns: auto 1fr;
}

.grid-col-3{
  grid-template-columns: 1fr 1fr 1fr;
}
.grid-temp-col-2{
  grid-template-columns: auto auto;
}
@media (min-width: 1024px) {
  .grid-temp-col-2-lg{
    grid-template-columns: auto max-content;
  }
}
.grid-temp-col-2{
  grid-template-columns: auto auto;
}
.grid-temp-col-auto-max-content{
  grid-template-columns: auto max-content;
}








.justify-items-center{
  justify-items: center;
}
.justify-items-end{
  justify-items: flex-end;
}
.justify-content-end{
  justify-content: end;
}
.justify-content-center{
  justify-content: center;
}
.align-content-center{
  align-content: center;
}

.flex-row{
  /* display: flex; */
  flex-direction: row
}

.flex-col{
  /* display: flex; */
  flex-direction: column;
}

.flex-column{
  /* display: flex; */
  flex-direction: column;
}

.space-between{
  justify-content: space-between;
}
@media (min-width: 920px) {
  .flex-md-row{
    /* display: flex; */
    flex-direction: row
  }
}

.flex-center{
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-align-center{
  align-items: center;
}
.align-center{
  align-items: center;
}

.align-center{
  align-items: center;
}
.align-flex-start{
  align-items: flex-start;
}
.flex-space-between{
  justify-content: space-between;
}
.justify-center{
  justify-content: center;
}
.gap-2{
  gap: 2px;
}
.gap-4{
  gap: var(--size-025);
}
.gap-8px{
  gap: var(--size-080);
}
.gap-8{
  gap: var(--size-080);
}

.gap-10{
  gap: var(--size-100);
}
.gap-10px{
  gap: 10px;
}
.gap-12px{
  gap: 12px;
}
.gap-14{
  gap: var(--size-250);
}
.gap-16{
  gap: var(--size-310);
}
.gap-16px{
  gap: 16px;
}
.gap-18{
  gap: 18px;
}

.gap-20{
  gap: var(--size-335);
}
.gap-24{
  gap: var(--size-350);
}
.gap-24px{
  gap: 24px;
}
.gap-32px{
  gap: var(--size-500);
}
.gap-32{
  gap: var(--size-500);
}
.gap-40px{
  gap: var(--size-700);
}

.gap-54{ gap: 54px}
.gap-62{ gap: 62px}
.gap-70px{
  gap: 70px;
}
.gap-80{
  gap: 80px;
}
.gap-100{
  gap: 100px;
}
.gap-auto{
  gap: auto;
}

.col-gap-24{
  column-gap: 24px;
}

.row-gap-40{
  row-gap: 40px;
}

.p-auto{
  padding: auto ;
}
.p-4px{
  padding: 4px;
}
.p-4px-8px{
  padding: 4px 8px;
}

.p-40px-24px{
  padding: 40px 24px;
}


.p-6-8{ padding: var(--size-060) var(--size-080) }
.p-8{ padding: var(--size-080) }
.p-8px{ padding: 8px }
.p-8px-14px{ padding: 8px 14px }
.p-8px-16px{ padding: 8px 16px }
.p-24px{ padding: 24px;}
.p-7-30{ padding: var(--size-070) var(--size-450) }
.p-12-24{ padding: 12px 24px }
.p-12px{ padding: 12px}
.p-12px-24px{ padding: 12px 24px }
.p-12-28{ padding: var(--size-150) var(--size-425) }
.p-12-60{ padding: 12px 60px }
.p-12-96{ padding: 12px 96px }
.p-16{ padding: var(--size-310) }
.p-16px{ padding: 16px}
.p-b-24{ padding-bottom: 24px }
.p-btm-8px{ padding-bottom: 8px;}
.p-btm-48px{ padding-bottom: 48px;}
.p-btm-72px{ padding-bottom: 72px;}
.p-btm-80{ padding-bottom: 80px }
.p-btm-80px{ padding-bottom: 80px }


.p-btm-14{ padding-bottom: var(--size-250) }
.p-btm-16px{
  padding-bottom: 16px;
}
.p-l-r-24{
  padding-left: var(--size-350);
  padding-right: var(--size-350);
}
.p-l-24{
  padding-left: var(--size-350);
}
.p-l-24px{
  padding-left: 24px
}

.p-l-2{
  padding-left: var(--size-002);
}
.p-l-30px{
  padding-left: var(--size-450);
}
.p-r-30px{
  padding-right: var(--size-450);
}
.p-r-100px{
  padding-right: 100px;
}
.p-l-30{
  padding-left: var(--size-450);
}
.p-l-r-127px{
  padding-left: 127px;
  padding-right: 127px;
}

.p-12-16{
  padding: var(--size-150) var(--size-310);
}

.p-14-24{
  padding: var(--size-250) var(--size-350);
}

.p-left-16px{
  padding-left: 16px;
}
.p-right-16px{
  padding-right: 16px;
}

.p-top-42px{
  padding-top: 42px;
}
.p-bottom-94px{
  padding-bottom: 94px;
}

.p-16-24{
  padding: var(--size-310) var(--size-350);
}
.p-10px-24px{
  padding: 10px 24px;
}
.p-10px-8px{
  padding: 10px 8px;
}
.p-16px-24px{
  padding: var(--size-310) var(--size-350);
}
.p-12px-24px{
  padding: 12px 24px;
}

@media (min-width: 898px){
  .display-xl-none{
    display: none !important;
  }
  .p-lg-16px-32px{
    padding: 16px 32px;
  }
}
@media (max-width: 897px){
  .p-md-8px{
    padding: 8px;
  }
}
.p-16px-32px{
  padding: 16px 32px;
}


.p-16px-48px{
  padding: 16px 48px;
}

.p-8-32{
  padding: var(--size-080) var(--size-500);
}
.p-24-38{
  padding: var(--size-350) var(--size-650) ;

}
.p-32-24{
  padding: var(--size-500) var(--size-350);
}
.p-32px-12px{
  padding: 32px 12px;
}
.p-32px-24px{
  padding: 32px 24px;
}

.p-48-32-16-32{
  padding: var( --size-800) var(--size-500) var(--size-310) var(--size-500) ;
}
.p-48-16{
  padding: var(--size-800) var( --size-310);
}
.p-62-68{
  padding: 62px 68px;
}
.p-62-90{
  padding: 62px 90px;
}
.p-56-106{
  padding: 56px 106px;
}
.p-72-105{
  padding: 72px 105px;
}
.p-72px-24px{
  padding: 72px 24px;
}

.p-132-24-8-24{
  padding: 132px 24px 8px 24px;
}

.p-72-24-24-24{
  padding: 72px 24px 24px 24px;
}

.p-8px-20px-8px-56px{
  padding: 8px 20px 8px 56px;
}
.p-146-110{
  padding: 146px 110px;
}
.p-t-250{
  padding-top: 250px;
}

.p-t-150{
  padding-top: var(--size-150);
}
.p-b-150{
  padding-bottom: var(--size-150);
}
.p-b-210{
  padding-bottom: 210px;
}
.p-r-2{
  padding-right: var(--size-002);
}
.p-r-24px{
  padding-right: 24px;
}
.p-right-24{
  padding-right: 24px;
}

.padding-l-32{
  padding-left: var(--size-500);
}
.padding-r-32{
  padding-right: var(--size-500);
}



.absolute-center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.left-50{
  left: 50%;
  /* transform: translateX(-50%); */
}
.left-negative-16px{
  left: -16px;
}
.left-50-56px{
  left: calc(50% - 56px);
  /* transform: translateX(-50%); */
}
.right-50-56px{
  right: calc(50% - 56px);
  /* transform: translateX(-50%); */
}


.right-24{
  right: 24px;
}
.right-24px{
  right: 24px;
}
/* .relative-center{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */
.absolute-v-center{
  position: absolute;
  top: 50%;
  transform: translateY(-50%)
}
.absolute-h-center{
  position: absolute;
  left: 50%;
  transform: translateX(-50%)
}
.margin-center{
  margin: 0 auto;
}
.margin-left-24{
  margin-left: 24px;
}
.mr-t-6px{ margin-top: 6px }
.mr-t-8{ margin-top: 8px }
.mr-t-24{ margin-top: var(--size-350) }
/* .mr-top-24px{ margin-top: var(--size-350) } */

.mr-top-22{
  margin-top: 22px;
}
.mr-top-22px{
  margin-top: 22px;
}
.mr-top-32{
  margin-top: var(--size-500);
}
.mr-top-12px{
  margin-top: 12px;
}
.mr-top-14px{
  margin-top: 14px;
}
.mr-top-16px{
  margin-top: 16px;
}
.mr-top-24px{
  margin-top: 24px;
}
.mr-top-32px{
  margin-top: var(--size-500);
}
.mr-btm-12px{
  margin-bottom: 12px;
}
.mr-btm-14px{
  margin-bottom: 14px;
}
.mr-btm-16px{
  margin-bottom: 16px;
}
.mr-btm-40{
  margin-bottom: 40px;
}
.mr-btm-40px{
  margin-bottom: 40px;
}
.mr-btm-48px{
  margin-bottom: 48px;
}
.mr-btm-28{
  margin-bottom: 28px;
}
.mr-btm-100px{
  margin-bottom: 100px;
}
.mr-btm-1000{
  margin-bottom: var(--size-1000);
}
.mr-t-32px{
  margin-top: 32px;
}
.mr-t-40px{
  margin-top: 40px;
}
.mr-top-40px{
  margin-top: 40px;
}
.mr-t-48{
  margin-top: var(--size-800);
}
.mr-top-48px{
  margin-top: 48px;
}
.mr-top-56px{
  margin-top: 56px;
}
.mr-top-64px{
  margin-top: 64px;
}
.mr-top-72px{
  margin-top: 72px;
}
.mr-top-82px{
  margin-top: 82px;
}
.mr-btm-64px{
  margin-bottom: 64px;
}

.mr-r-nv-8{
  margin-right: -8px;
}
/* .v-bar-1-66::after{
  content: "something";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: black;
  width: 1px;
  height: 66%;
  right: 0 ;
  border: 1px solid red;

} */

.clr-primary{
  color: var(--clr-primary-400);
}

.fw-bold{
  font-weight: var(--fw-bold);
}
/* .fw-regular */
.fw-regular-dark{
  font-weight: var(--fw-regular-dark);
}
.fw-semi-bold{
  font-weight: var(--fw-semi-bold) ;
}
/* --fw-semi-bold */


/* --size-310  16px */

.gap-16{
  gap: var(--size-310);
}
.gap-26px{
  gap: 26px;
}
.gap-28{
  gap: 28px;
}
.gap-32{
  gap: var(--size-500);
}
.gap-40{
  gap: var(--size-700);
}

.padding-0{ padding: var(--size-000) }

.padding-10{ padding: var(--size-100) }

.padding-y-100{
  padding-top: var(--size-100);
  padding-bottom: var(--size-100);
}

.round{
  border-radius: 50%;
}ƒ
.br-8{
  border-radius: var(--size-080);
}
.radius-2px{
  border-radius: 2px;
}
.radius-4{
  border-radius: 4px;
}
.radius-4px{
  border-radius: 4px;
}
.radius-6{
  border-radius: var(--size-060);
}
.radius-8{
  border-radius: var(--size-080);
}
.radius-8px{
  border-radius: var(--size-080);
}

.radius-10{
  border-radius: 10px;
}
.radius-40px{
  border-radius: 40px !important
}
.radius-100{
  border-radius: var(--size-100);
}
.radius-350{
  border-radius: var(--size-350);
}
.radius-450{
  border-radius: var(--size-450);
}

.radius-bottom-8px{
  border-radius: 0 0 8px 8px ;
}

.opacity-50{
  opacity: 0.5;
}

.opacity-0_12{
  opacity: 0.12;
}
.opacity-0_70{
  opacity: 0.7;
}

.position-fixed{
  position: fixed;
}
.position-absolute{
  position: absolute;
}

.position-relative{
  position: relative;
}

.fs-100{ font-size: var(--fs-100);}
.fs-200{ font-size: var(--fs-200);}
.fs-300{ font-size: var(--fs-300);}
.fs-regular{ font-size: var(--fs-400)}
.fs-500{ font-size: var(--fs-500)}
.fs-700{ font-size: var(--fs-700)}
.fs-600{ font-size: var(--fs-600)}
.fs-650{ font-size: var(--fs-650)}
.fs-850{ font-size: var(--fs-850)}
.fs-875{ font-size: var(--fs-875)}
.fs-975{ font-size: var(--fs-975)}
.fw-active{
  font-weight: var(--fw-bold);
}
.fw-regular{
  font-weight: var(--fw-regular);
}
.fw-regular-dark{
  font-weight: var(--fw-regular-dark);
}
.fw-slightly-dark{
  font-weight: var(--fw-regular-dark);
}
.fw-semi-bold{
  font-weight: var(--fw-semi-bold);
}
.line-height-24px{
  line-height: 24px;
}
.line-height-32{
  line-height: 32px;
}


.no-decoration{
  text-decoration: none;
}

.uppercase{
  text-transform: uppercase;
}

.capitalize{
  text-transform: capitalize;
}

.box-shadow-gray{
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.05);
}
.box-shadow-300{
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);
}

.box-shadow-primary{
  filter: drop-shadow(0px 0px 15px rgba(255, 133, 21, 0.30));
}
.box-shadow-overlay{
  box-shadow: 0px 0px 8px 0px rgba(194, 198, 204, 0.60);
}
.box-shadow-0_04{
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}
.box-shadow-0_2{
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px;
}

.shadow-600{

}
.hover-shadow-primary:hover{
  filter: drop-shadow(0px 0px 15px rgba(255, 133, 21, 0.30));
}
.hover-bg-neutral:hover{
  background: var(--clr-neutral-100);
}
.hover-txt-neutral:hover{
  color: var(--clr-neutral-000);
}
.hover-txt-semi-bold:hover{
  font-weight: var(--fw-semi-bold);
}
.hover-txt-secondary-200:hover{
  color: var(--clr-secondary-200);
}

.heading-primary{
  font-size: var(--fs-primary-heading);
}

.sidebar{
  /* height: 100%;
  width: 314px;
  background: rgba(255, 133, 21, 0.03); */
  /* height: 100%; */
  /* width: 0; */
  /* position: fixed; */
  /* 
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  color: white; */
}

.width-0{
  width: 0;
}


.min-width-280px{
  min-width: 280px;
}
.width-280px{
  width: 280px;
}
.square-24{
  height: 24px;
  width: 24px;
}
.w-20px{
  width: 20px;
}
.h-20px{
  height: 20px;
}

.w-100{
  width: 100%;
}
.w-100-24px{
  width: calc(100% - 24px);
}
.w-170px{
  width: 170px;
}
.max-w-256px{
  max-width: 256px;
}
.max-w-290px{
  max-width: 290px;
}
.width-300px{
  width: 310px;
}
.width-310px{
  width: 310px;
}
.width-320px{
  width: 320px;
}
.min-w-300px{
  min-width: 300px;
}
.min-w-314px{
  min-width: 314px;
}
.width-480px{
  width: 480px;
}
.width-256px{
  width: 256px;
}
.max-w-50{
  max-width: 50%;
}
.max-w-500px{
  max-width: 500px;
}
.w-530px{
  width: 530px;
}
.w-540px{
  width: 540px;
}
.w-36percent{
  width: 36%;
}
.w-64percent{
  width: 64%;
}
.w-100v{
  width: 100vw;
}
.w-24px{
  width: 24px;
}
.min-w-24px{
  min-width: 24px;
}


.min-w-100{
  min-width: 100%;
}
.min-w-100vw{
  min-width: 100vw;
}

.min-w-386px{  min-width: 386px;}

.min-w-600px{  min-width: 600px;}
.w-600px{  width: 600px;}
.w-45px{
  width: 45px;
}
.w-48px{
  width: 48px;
}
.w-146{
  width: 146px;
}
.w-180{
  width: 180px;
}
.w-190px{
  width: 190px;
}
.w-190{
  width: 190px;
}
.w-245{
  width: 245px;
}
.w-280px{
  width: 280px;
}
.w-296px{
  width: 296px;
}

.max-w-100{
  max-width: 100%;
}
.max-w-750{
  max-width: 750px;
}
.max-w-768px{
  max-width: 768px;
}
.max-w-612{
  max-width: 612px;
}
.max-w-540{
  max-width: 540px;
}
.max-w-342{
  max-width: 342px;
}
.max-w-370px{
  max-width: 370px;
}
.max-w-377px{
  max-width: 377px;
}
.max-w-386{
  max-width: 386px;
}
.max-w-348{
  max-width: 348px;
}
.max-w-195px{
  max-width: 195px;
}


.max-w-600{
  max-width: 600px;
}
.max-w-600px{
  max-width: 600px;
}
.w-285{
  width: 285px;
}
.w-377px{
  width: 377px;
}
.w-386px{
  width: 386px;
}
.w-600px{
  width: 600px;
}

.w-8px{
  width: 8px;
}
.h-8px{
  height: 8px;
}
.w-16px{
  width: 16px;
}
.h-16px{
  height: 16px;
}

.h-175px{
  height: 175px;
}

.h-150px{
  height: 150px;
}
.w-150px{
  width: 150px;
}
.w-814{
  width: 814px;
}
.w-84px{
  width: 84px;
}
.max-w-814px{
  max-width: 814px;
}
.max-w-1280px{
  max-width: 1280px;
}
.w-400px{
  width: 400px;
}
.w-814px{
  width: 814px;
}
.w-fit-content{
  width: fit-content;
}
.w-max-content{
  width: max-content;
}

.box-w-400{width: var(--box-width-300);}

.min-h-100vh{
  min-height: 100vh;
}
.h-100vh{
  height: 100vh;
}

.min-h-100{
  min-height: 100%;
}
.min-h-100vh{
  min-height: 100vh;
}
.min-h-48{
  min-height: var(--size-800);
}
.min-h-432px{
  min-height: 432px;
}
.min-h-56{
  min-height: var(--size-880);
}
.min-h-100px{
  min-height: 100px;
}
.min-h-120px{
  min-height: 120px;
}
.min-h-500px{
  min-height: 500px;
}
.max-h-454{
  max-height: 454px;
}
.max-h-375px{
  max-height: 375px;
}


.max-h-730px{
  max-height: 730px;
}
.min-h-810px{
  min-height: 810px;
}
.max-h-810px{
  max-height: 810px;
}
.max-h-470px{
  max-height: 470px;
}
.max-h-500{
  max-height: 500px;
}
.min-height-135px{
  min-height: 135px;
}
.height-135px{
  height: 135px;
}
.height-425{
  height: var(--size-425);
}
.height-232px{
  height: 232px;
}

.h-100{
  height: 100%;
}
.h-16px{
  height: var(--size-310);
}
.h-60px{
  height: 60px;
}
.h-900{
  height: var(--size-900);
}

.h-100v{
  height: 100vh;
}
.h-40{
  height: var(--size-700); /*40px*/
}
.h-432px{
  height: 432px/*40px*/
}
.h-48{
  height: var(--size-800); /*48px*/
}
.h-48px{
  height: 48px; /*48px*/
}
.h-56{
  height: var(--size-880);
}
.h-56px{
  height: var(--size-880);
}
.h-510px{
  height: 509px;
}
.h-232{
  height: 232px;
}
.h-232px{
  height: 232px;
}
.h-256px{
  height: 256px;
}
.h-280px{
  height: 280px;
}
.h-370px{
  height: 370px;
}
.h-400px{
  height: 400px;
}
.h-640{
  height: 640px;
}
.max-h-542px{
  max-height: 542px;
}
.max-h-640px{
  max-height: 640px;
}
.h-542px{
  height: 542px;
}

.min-h-232{
  min-height: 232px;
}
.h-24px{
  height: 24px;
}
.min-h-24px{
  min-height: 24px;
}

.min-h-640{ min-height: 640px }
.h-fit-content{
  height: fit-content;
}
.h-max-content{
  height: max-content;
}





.horizontal-center{
  margin: 0 auto;
}


.no-border{
  border: none;
}
.no-background{
  background: none;
}
.border-none{
  border: none;
}
.border-primary-1{
  border: 1px solid var(--clr-primary-400);
}
.border-dashed-1{
  border: 1px dashed var(--clr-neutral-400)
}

.border-primary-2{
  border: 2px solid var(--clr-primary-400);
}
.border-secondary-100{
  border: var(--size-001) solid var(--clr-secondary-150);
}
.outline-secondary-100{
  outline: var(--size-001) solid var(--clr-secondary-150);
}
.outline-secondary-400{
  outline: var(--size-002) solid var(--clr-secondary-400);
}
.outline-transparent-2px{
  outline: var(--size-002) solid transparent;
}
.clr-neutral-620{
  border: 1px solid var(clr-neutral-620);
}

.border-neutral-100{
  border: 1px solid var(--clr-neutral-100);
}
.border-transparent-1px{
  border: 1px solid transparent;
}
.border-neutral-250{
  border: 1px solid var(--clr-neutral-250);
}
.border-neutral-300{
  border: 1px solid var(--clr-neutral-300);
}
.border-neutral-500{
  border: 1px solid var(--clr-neutral-500);
}

.border-btm-500{
  border-right: 0px;
  border-top: 0px;
  border-left: 0px;
  border-bottom: 1px solid var(--clr-neutral-600, #666);
}

.sidebar-full-width{
  width: 314px;
}

.content{
  transition: margin-left .5s;
  min-height: 100vh;
}
.display-static{
  display: static !important;;
}
.display-none{
  display: none !important;
}
.invisible{
  visibility: hidden;
}

.visible{
  visibility: visible;
}
.txt-align-center{
  text-align: center;
}
.txt-right{
  text-align: right;
}
.txt-success{
  color:#49C100
}
.txt-error{
  color: red;
}
.txt-danger{
  color: red;
}

@media (max-width: 898px){
  .display-sm-none{
    display: none !important;
  }
  .display-md-flex{
    display: flex;
  }

}
@media (min-width: 898px){
  .display-lg-none{
    display: none !important;
  }
  .lg-flex{
    display: flex;
  }
  .lg-position-absolute{
    position: absolute;
  }
  .lg-right-12px{
    right: 12px;
  }
  .lg-box-shadow-primary{
    box-shadow: 0px 0px 15px rgba(255, 133, 21, 0.30);
  }
  .lg-radius-10px{
    border-radius: 10px;
  }
  
}

.display-block{
  display:block;
}


.cursor-pointer{
  cursor: pointer;
}



/* temporary styles */
.test-border{
  border:1px solid red;
}
.test-blue-border{
  border:1px solid rgb(38, 0, 255);
}


.search-input > input{
  border: none;
  outline: none;
  background: transparent;
}
.search-input > .location_input{
  width: 213px;
}
.search-input > .date_input{
  max-width: 86px;
  /* border: 1px solid red; */
}
.search-input > .check_in_out{
  max-width: 100px;
}
.search-input > .guests-input{
  width: 95px;
}



.form-input-item{
  border: 1px solid var(--clr-neutral-250);
  background: transparent;
  border-radius: var(--size-080);
  padding: var(--fs-400) var(--fs-650);
}

.form-input-item::placeholder{
  color: var(--clr-neutral-500);
  font-size: var(--fs-400);
  font-weight: var(--fw-regular-dark);
}

.z-index-0{
  z-index: 0ƒ
}
.z-index-1{
  z-index: 1
}
.z-index-minus-1{
  z-index: -1
}
.z-index-2{
  z-index: 2
}

.z-3{
  z-index: 3
}
.z-index-3{
  z-index: 3
}
.z-index-4{
  z-index: 4
}
.z-index-5{
  z-index: 5
}
.z-index-9{
  z-index: 9
}
.z-index-10{
  z-index: 10
}
.z-index-11{
  z-index: 11
}
.z-index-12{
  z-index: 12
}
.z-index-13{
  z-index: 13
}
.z-index-14{
  z-index: 14
}
.z-index-999{
  z-index: 999
}
.mr-t-auto{
  margin-top: auto;
}
.mr-t-b-32px{
  margin-top: 32px;
  margin-bottom: 32px;
}

.mr-top-20px{
  margin-top: 20px;
}
.mr-top-32px{
  margin-top: 32px;
}
.mr-t-110px{
  margin-top: 128px;
}
/* --size-700 */
.mr-top-700{
  margin-top: var(--size-700);
}
.mr-l-auto{
  margin-left: auto;
}
.mr-left-4px{
  margin-left: 4px;
}
.mr-left-8px{
  margin-left: 8px;
}
.mr-left-16px{
  margin-left: 16px;
}
.mr-left-24px{
  margin-left: 24px;
}
.mr-r-auto{
  margin-right: auto;
}

.p-t-auto{
  padding-top: auto;
}
.p-top-8px{
  padding-top: 8px;
}
.p-top-80px{
  padding-top: 80px;
}
.p-top-10px{
  padding-top: 10px;
}
.p-top-16px{
  padding-top: 16px;
}
.p-top-48px{
  padding-top: 48px;
}
.p-top-56px{
  padding-top: 56px;
}
.p-top-180px{
  padding-top: 180px;

}
.p-b-auto{
  padding-bottom: auto;
}
.mr-top-800{
  margin-top: var(--size-800);
}
.mr-top-80px{
  margin-top: var(--size-800);
}
.mr-top-8px{
  margin-top: 8px;
}
.mr-top-10px{
  margin-top: 10px;
}
.mr-t-16px{
  margin-top: 24px;
}
.mr-t-24px{
  margin-top: 24px;
}
.mr-btm-4px{
  margin-bottom: 4px;
}
.mr-btm-8px{
  margin-bottom: 8px;
}
.mr-btm-10px{
  margin-bottom: 10px;
}
.mr-btm-24px{
  margin-bottom: 24px;
}
.mr-btm-32px{
  margin-bottom: 32px;
}
.mr-btm-36px{
  margin-bottom: 36px;
}
.mr-btm-36px-not-last-child:not(:last-child){
  margin-bottom: 36px;
}
.mr-btm-700{
  margin-bottom: var(--size-700);
}
.mr-btm-800{
  margin-bottom: var(--size-800);
}

.mr-48-32-16-32{
  margin: 48px 32px 16px 32px;
}
.mr-62px-28px{
  margin: 62px 28px;
}


.contents{
  width: 100%;
}

.map-container{
  width: 100%;
  height: 100%;
}




.leaflet-container{
  height: 100%;
}

.overflow-hidden{
  overflow: hidden;
}
.overflow-scroll{
  overflow: scroll;
}
.overflow-y-auto{
  overflow-y: auto;
}


.sample-box{
  width: 100%;
  height: 100vh;
}


.only-booked{
  background: var(--clr-secondary-400);
  color: white !important;
  border-radius: 13px;
}
.start-date{
  background: var(--clr-secondary-400);
  color: white !important;
  border-radius: 13px 0 0 13px;
}
.mid-date{
  background: var(--clr-secondary-100);
  color: var(--clr-secondary-400);
}

.mid-date:hover{
  color: white !important;
}
.end-date{
  background: var(--clr-secondary-400);
  color: white !important;
  border-radius: 0 13px 13px 0;
}






.form-input{
  width: 100%;
  height: 56px;
  border-radius: 6px;
  border: 1px solid var(--clr-neutral-500);
  background: transparent;
  padding: 16px 24px;
  outline: none;
}

.form-input:active{
  border: 1px solid var(--clr-neutral-500);
}


.marker-class{
  border: 1px solid red;
}

.btn-primary{
  color: #FFF;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  background: var(--clr-primary-400);
  border: var(--clr-primary-400);
  height: var(--size-800);
  border-radius: var(--size-080);
}
.btn-disable{
  color: #FFF;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  background: var(--clr-primary-400-a_40);
  border: var(--clr-primary-400-a_30);
  height: var(--size-800);
  border-radius: var(--size-080);
  pointer-events: none;
  cursor: not-allowed;
}

.btn-primary:hover{
  box-shadow: 0px 0px 8px 0px #FF8515;
  cursor: pointer;
}

/* hover  */
.btn-hover-shadow:hover{
  box-shadow: 0px 0px 8px 0px #FF8515;
}

.btn-secondary{
  color: var(--clr-primary-400);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  background: transparent;
  border:1px solid var(--clr-primary-400);
  height: var(--size-800);
  border-radius: var(--size-080);
}


.numbered-items{
  counter-reset: listCount;
  
 }

 .numbered-items li{
  counter-increment: listCount;
  position: relative;
 }

 .numbered-items li::before{
  content: "0" counter( listCount) '.';
  position: absolute;
  right: calc(-8px + 100%);
 }

 

 /* input[type="number"] {
  -moz-appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; 
} */


.blur-3{backdrop-filter: blur(var(--size-003));}

.blur-6{
  backdrop-filter: blur(var(--size-060));
}

.horizontal-line-btm::after{
  width: 100%;
  content: "";
  position: absolute;
  height: var(--size-001);
  background: #E0E2E6;
  top: var(--size-750);
}


.input-right-vr-line::after{
  content: "";
  height: 100%;
  position: absolute;
  top: 0;
  left: 194px;
  width: 1px;
  background: #C2C6CC;;
}


.scale-0003{
  scale: 1.003;
}

.filter-brightness-invert{
  filter: brightness(0) invert(1);
}

.mapboxgl-popup-content {
	padding: 0 !important;
}

.mainStyle {
	max-width: 100%;
  height: 100vh;
}
.mapStyle {
width:100%;
height: 100%
}

.popupTitle {
  background-color: #87bd41;
  font-weight: 700;
  font-size: medium;
  color: ivory;
  padding: 10px;
}

.popupInfo{
  font-weight:400;
  font-size: 14px;
  padding: 10px;
}
.popupLabel{
  font-weight: bold;
}
.popupWebUrl{
  color: dodgerblue;
}
.popupWebUrl:active,
.popupWebUrl:focus{
  outline: 0;
}
.item-underline{
  /* border: 1px solid red; */
}

.item-underline:not(:last-child)::after{
  content: "";
  height: 1px;
  background: var(--clr-neutral-150);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  width: 100%;
}

input[type="radio"] {
  display: none; /* Hide the default radio button */
}


.border-left-100::before{
  content: '';
  position: absolute;
  height: 100%;
  left: 0;
  width: 1px;
  background: var(--clr-neutral-100);
}


.aspect-ratio-1_63{
  aspect-ratio: 1.63;
}


/* 
.sidebar {
  background-color: rgb(35 55 75 / 90%);
  color: #fff;
  padding: 6px 12px;
  font-family: monospace;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  margin: 12px;
  border-radius: 4px;
} */

.grid-tmp-col-96-224-254-auto{
  grid-template-columns: 96px 224px  254px  auto;
}

.grid-tmp-col-172px-224px-452px-252px-132px{
  grid-template-columns: minmax(auto, 172px) minmax(auto, 224px) minmax(auto, 452px) minmax(auto, 252px) minmax(auto, 132px);

}
.grid-tmp-col-172px-224px-auto-252px-132px{
  grid-template-columns: 172px 224px auto 252px 132px;
}
/* .grid-tmp-col-172px-auto-auto-252px-132px{
  grid-template-columns: 172px auto auto 252px 132px;
} */

.grid-tmp-col-172px-auto-auto-252px-132px{
  grid-template-columns: 172px minmax(auto, 224px) minmax(auto, 452px) 252px 132px;
}
.profile-history-grid{
  display: grid;
  grid-template-columns: repeat(2, auto)
}

.col-gap-0{
  column-gap: 0px;
}
.col-gap-32px{
  column-gap: 32px;
}
.row-gap-8px{
  row-gap: 8px;
}
.row-gap-40px{
  row-gap: 40px;
}
.property-name{
  display: none;
}
.history-table-title{
  display: none;
}
@media only screen and (min-width: 768px) {
  .profile-history-grid{
    grid-template-columns: repeat(4, auto)
  }
}

@media only screen and (min-width: 992px) {
  .property-name{
    display: block;
  }
  .property-name-title{
    display: none;
  }
  .property-properties-title{
    display: none;
  }
  .history-table-title{
    display: grid;
  }
  .profile-history-grid{
    grid-template-columns: minmax(auto, 172px) minmax(auto, 224px) minmax(auto, 452px) minmax(auto, 252px) minmax(auto, 132px);
  }
}



/* .image_slider_l{
  position: relative;
  width: 395px;
  height:  242px;
  margin-bottom: 10px;
  border-radius: 8px;
  overflow: hidden
}
@media (min-width:650px){
  .image_slider_l{
      width: clamp(290px,  4.3204rem + 33.9806vw,  395px);
      height: clamp(178px, 2.7108rem + 20.712vw, 242px);
  }
}
@media (min-width:960px){
  .image_slider_l{
      width: clamp(290px, -2.1496rem + 33.5463vw, 395px);
      height: clamp(178px, -1.2328rem + 20.4473vw, 242px);
  }
} */

.image_slider_s{
  position: relative;
  width: 395px;
  height:  242px;
  margin-bottom: 10px;
  border-radius: 8px;
  overflow: hidden;
}

@media (max-width:650px){
  .sm-d-flex-col{
    /* display: flex; */
    flex-direction: column;
  }
}

@media (min-width:360px){
  .image_slider_s{
      width: clamp(18.125rem, -5.5rem + 105vi, 24.6875rem);
      height: clamp(10.875rem, -4.425rem + 68vi, 15.125rem);
  }
}

@media (min-width:650px){
  .image_slider_s{
      width: clamp(18.125rem, -26.2375rem + 105vi, 24.6875rem);
      height: clamp(10.875rem, -17.855rem + 68vi, 15.125rem);
  }
}
@media (min-width:986px){
  .image_slider_s{
      width: clamp(18.125rem, -12.6875rem + 50vi, 24.6875rem);
      height: clamp(11.125rem, -7.656rem + 30.4762vi, 15.125rem);
  }
}
@media (min-width:1280px){
  .image_slider_s{
      width: clamp(18.125rem, -9.1835rem + 33.871vi, 24.6875rem);
      height: clamp(11.125rem, -4.875rem + 20vi, 15.125rem);
  }
}

/* #search-input > * {
  border: 1px solid white !important;
  outline: none !important;
  box-shadow: none !important;
} */
#search-input > * > * {
  border: 1px solid white !important;
  outline: none !important;
  box-shadow: none !important;
}
#search-input > * >* > *{
  /* border: 1px solid white !important;
  outline: none !important;
  box-shadow: none !important; */
}
.mapboxgl-user-location {
  display: none !important;
}
.mapboxgl-user-location-accuracy-circle{
  display: none !important;
}
