.host_img {
    height: 264px;
    width: 264px;
    border-radius:264px;
    overflow: hidden;
    position: absolute;
    top: -156px;
    left: 50%;
    transform: translateX(-50%);
    /* top: -156px; */
}
.host_img > img {
    object-fit: cover;
    z-index: -1;     
}